<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="GSN1.presentation.GSN1ModelWizardID"
            name="%_UI_GSN1ModelWizard_label"
            class="GSN1.presentation.GSN1ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GSN1ModelFile.gif">
         <description>%_UI_GSN1ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="GSN1.presentation.GSN1EditorID"
            name="%_UI_GSN1Editor_label"
            icon="icons/full/obj16/GSN1ModelFile.gif"
            extensions="gsn1"
            class="GSN1.presentation.GSN1Editor"
            contributorClass="GSN1.presentation.GSN1ActionBarContributor">
      </editor>
   </extension>

</plugin>
